@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.6rem;
}

input,
textarea {
    box-sizing:border-box;
}

.layout {
    padding: 2rem;
}

.wrapper {
    display: flex;
}

.field {
    display: block;
    width: 20rem;
    position: relative;
    padding-bottom: 3rem;
    
    &:not(:last-child) {
        margin-right: 2rem;
    }
}

.legend {

}

.form {
    & > *:not(:last-child) {
        margin-bottom: 1rem;
    }
    padding: 1rem 0;
}

.label {
    display: block;

    &-txt {
        display: block;
        margin-bottom: 1rem;
    }
}

.input {
    &-text {
        display: block;
        width: 100%;
    }

    &-textarea {
        display: block;
        width: 100%;
    }
}

.button {
    display: block;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    background-color: white;
    border: 1px solid #bdbdbd;
    border-radius: 0;
    height: fit-content;
    width: calc(100% - 2rem);
    padding: 0 2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1.6rem;

    &-text {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;

        &::after {
            content: 'Copied!';
            font-size: 1.6rem;
            color: #000;
            display: block;
            width: calc(100% + 4rem);
            position: absolute;
            left: -2rem;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            background-color: #fff;
            opacity: 0;
            transition: 0.3s ease-in-out;
            user-select: none;
            pointer-events: none;
        }

        &.show {
            color: transparent;

            &::after {
                opacity: 1;
            }
        }
    }

    &:active {
        background-color: #eee;
        color: transparent;
    }
}